
  @font-face {
            font-family: 'ByteBounce';
            src: url('fonts/ByteBounce.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

  @font-face {
            font-family: 'rainyhearts';
            src: url('fonts/rainyhearts.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ByteBounce', cursive;
    background-color: #ffffff;
    color: #5D4037; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 680px;
    height: 400px;
}

    .pagina-oculta {
    background-color: white;
    padding: 40px;
    text-align: center;
    width: 680px;
    height: 400px;
    display: none;
        }

    .nyanchi{
    padding: 40px;
    text-align: center;
    display: none;
    }

     .nyanchi2{
    padding: 40px;
    text-align: center;
    }


h1.titulo {
    font-weight: bold;
    font-size: 3.6rem;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #af2626; 
}

h2.subtitulo {
    font-family: 'rainyhearts', cursive;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #7e4f4f; 
}

h2.choose {
    font-weight: normal;
    font-size: 2.3rem;
    margin-bottom: 5px;
    color: #d78f29;
    cursor: pointer;   
}

h1.blancoa {
    font-weight: normal;
    font-size: 2.6rem;
    margin-bottom: 30px;
    color: #ffffff; 
}


.separador {
    height: 3px;
    width: 100px;
    background-color: #42a325;
    margin: 0 auto 30px;
}

.descripcion {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 20px;
    padding: 15px;
    background-color: #EFEBE9; 
    border-radius: 8px;
}

.selectabletext {
    font-weight: normal;
    font-size: 2.3rem;
    margin-bottom: 5px;
    color: #4eb72e;
    cursor: pointer;   
}

  .boton {
        font-family: 'ByteBounce';
            background-color: #5D4037;
            color: white;
            display: block;
            width: 100%;
            padding: 15px;
            margin: 10px 0;
            border: none;
            border-radius: 10px;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        
      .delete-buttons {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 30px;
      }


@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
    
    h1.titulo {
        font-size: 2rem;
    }
    
    h2.subtitulo {
        font-size: 1.5rem;
    }
}
